.filter {
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  width: 111rem;
  height: 7.2rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}
