@use "../abstracts/variables" as var;

.header {
  display: flex;
  width: 100vw;
  height: 15.6rem;
  margin: 0 auto;
  background-color: var.$desaturated-dark-cyan;
  overflow: hidden;

  &--picture {
    width: 100%;
  }
}
