.jobs {
  width: 111rem;
  height: 15.2rem;
  position: absolute;
  top: 23.2rem;
  left: 50%;
  transform: translateX(-50%);

  &-margin {
    height: 12rem;

    @media (max-width: 1120px) {
      height: 3.4rem;
    }
  }

  @media (max-width: 1120px) {
    width: 32.7rem;
  }
}
