.requirements {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
  height: 3.2rem;

  @media (max-width: 1120px) {
    justify-content: start;
    //width: 100%;
    height: 8rem;
  }
}
